version: '3.7'

networks:
  proxy_net:
    name: proxy_net
    external: true

services:
  webforms:
    image: brian32768/webforms:latest
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env
    environment:
      PYTHONPATH: /srv
      FLASK_APP: start_app
      VIRTUAL_HOST: ${FLASK_RUN_HOST}
      VIRTUAL_PORT: ${FLASK_RUN_PORT}
      NETWORK_ACCESS: internal
      LETSENCRYPT_HOST: ${FLASK_RUN_HOST}
      LETSENCRYPT_MAIL: ${MY_EMAIL}
      PORTAL_URL: ${PORTAL_URL}
    command: flask run
    volumes:
      - .:/srv
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/timezone:/etc/timezone:ro"

      # This allows writing updated CSV files directly into the nginx "capacity" docker
      # from the csv_export.py script.
      - "/home/gis/docker/capacity/html/cases:/srv/cases:rw"
    user: app
    networks:
      proxy_net:
        aliases:
          - webforms
 
