version: '3.6'
networks:
  proxy_net:
    name: proxy_net
    external: true

services:
  webforms:
    env_file: .env
    environment:
      VIRTUAL_HOST: ${FLASK_HOST}
      VIRTUAL_PORT: ${FLASK_PORT}
      NETWORK_ACCESS: internal
      LETSENCRYPT_HOST: ${FLASK_HOST}
      LETSENCRYPT_MAIL: ${MY_EMAIL}
      PORTAL_URL: ${PORTAL_URL}

    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/timezone:/etc/timezone:ro"

    networks:
      proxy_net:
        aliases:
          - webforms

    image: brian32768/webforms:latest

    build:
      context: .
      dockerfile: Dockerfile
 
