version: '3.6'
services:
  webforms:
    container_name: webforms
    env_file: .env
    environment:
#      VIRTUAL_HOST: ${FLASK_HOST}
      VIRTUAL_PORT: ${FLASK_PORT}
      NETWORK_ACCESS: internal
#      LETSENCRYPT_HOST: ${MAPPROXY_VIRTUAL_HOST}
#      LETSENCRYPT_MAIL: ${MY_EMAIL}
#    volumes:
#      - "/etc/localtime:/etc/localtime:ro"
#      - "/etc/timezone:/etc/timezone:ro"
    restart: unless-stopped
    networks:
      proxy_net:
        aliases:
          - webforms
    # For cc-testmaps I want to be able to hit the server without any proxy, so, I do this
    ports:
      - "5000:5000"
    expose:
      - "5000"
    image: brian32768/webforms:latest
    build:
      context: .
      dockerfile: Dockerfile
 
networks:
  proxy_net:
    name: proxy_net
    external: true
